<nav class="navbar navbar-dark bg-dark">

    <button class="btn btn-primary" (click)="goHome()"> <span><i class="fa fa-globe"></i></span> {{ 'APP.GLOBAL.HOME' | translate}}</button>
    <button class="btn btn-primary" (click)="switchLanguage()"> <span><i class="fa fa-language"></i></span> {{ 'APP.GLOBAL.LANG' | translate}}</button>
    <button class="btn btn-primary" (click)="addUser()"> <span><i class="fa fa-user"></i></span> {{ 'APP.GLOBAL.NEW'| translate}}</button>
</nav>
<router-outlet></router-outlet>